<div @ref=_divRef>waiting for script</div>

<Script @ref=_scriptRef>
    export function run(div, msg) {
        div.innerText = msg;
    }
</Script>

@code
{
    public ElementReference _divRef;
    public Script _scriptRef = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        await _scriptRef.InvokeVoidAsync("run", _divRef, "message from c#");
    }
}